extend ./layout.pug

block content
  .container
    .row
      .col-1
      .col-8.custombackground
        .row
          .col-sm-7.text-center 
            h5 Title                
          .col-sm-3.text-left 
            h5 Author       
          .col-sm-2.text-right
            a.btn.btn-primary(href='/admin/create') Post
        each topic in topics
          a(href='/chat/'+ topic.id style='text-decoration: none')
            .card.mb-3(style='max-width: 540px;')
            .row.no-gutters 
              .col-md-3
                img.card-img(src=topic.image alt=topic.title)
              .col-md-9
                .card-body
                  h5.card-title=topic.title
                  p.card-text
                    small.text-muted Last updated #{topic.times} mins ago
      .col-3.test
