extend ./layout.pug

block content
  .card.mb-3(style='max-width: 540px;')
  .row.no-gutters
    .col-md-3
      img.card-img(src='https://www.humanesociety.org/sites/default/files/styles/1240x698/public/2019/02/dog-451643.jpg?h=bf654dbc&itok=MQGvBmuo' alt='...')
    .col-md-9
      .card-body
        h5.card-title Card title
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        p.card-text
          small.text-muted Last updated 3 mins ago
  .card.mb-3(style='max-width: 540px;')
  .row.no-gutters
    .col-md-3
      img.card-img(src='https://www.vettedpetcare.com/vetted-blog/wp-content/uploads/2018/04/my-cat-is-nearing-end-of-life-square.jpeg' alt='...')
    .col-md-9
      .card-body
        h5.card-title Card title
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        p.card-text
          small.text-muted Last updated 3 mins ago
  .card.mb-3(style='max-width: 540px;')
  .row.no-gutters
    .col-md-3
      img.card-img(src='https://www.guidedogs.org/wp-content/uploads/2019/11/website-donate-mobile.jpg' alt='...')
    .col-md-9
      .card-body
        h5.card-title Card title
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        p.card-text
          small.text-muted Last updated 3 mins ago
