extend ./layout.pug

block content
  .container
    .row
      .col-1
      .col-8.custombackground
        form(action="/signUp" method="post")
          .form-group
            label(for='exampleDropdownFormUsername') Username
            input#exampleDropdownFormUsername.form-control(type='text' placeholder='Username' name='username')
          .form-group
            label(for='exampleDropdownFormEmail2') Email address
            input#exampleDropdownFormEmail2.form-control(type='email' placeholder='email@example.com' name='email')
          .form-group
            label(for='exampleDropdownFormPassword2') Password
            input#exampleDropdownFormPassword2.form-control(type='password' placeholder='Password' name='password')
          button.btn.btn-primary(type='submit') Sign up   
      .col-3.test



//-  form(action="/action_page.php" method="post")
//-   .form-group
//-     label(for='exampleDropdownFormEmail2') Email address
//-     input#exampleDropdownFormEmail2.form-control(type='email' placeholder='email@example.com')
//-   .form-group
//-     label(for='exampleDropdownFormPassword2') Password
//-     input#exampleDropdownFormPassword2.form-control(type='password' placeholder='Password')
//-   .form-group
//-     .form-check
//-       input#dropdownCheck2.form-check-input(type='checkbox')
//-       label.form-check-label(for='dropdownCheck2')
//-         | Remember me
//-   button.btn.btn-primary(type='submit') Sign in
